[^.]*
.Trash
.Xauthority
.ssh
*tmp*
*.bak
.bower
.jitsu
.ivy2
.gem
.cabal
*cache*
.zhistory
.zcompdump
.dshell
.viminfo
.dropbox/
.DS_Store
.zhistory
.bash_history
.zcompdump*
*.tmp
.viminf*
Applications
Books
Copy
Desktop
Dropbox
Google Drive
Movies
Music
Pictures
Development
Library
.rnd
.lesshst
.xsession*
.profile
.bash_logout
.ICEauthority
*.pid
